
.vs/ASP.NETCoreWebAPI/FileContentIndex/2f1a302b-ada7-43a5-a01b-90b2d6aa6454.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/ASP.NETCoreWebAPI/v17/DocumentLayout.json
.vs/ASP.NETCoreWebAPI/v17/.suo
.vs/ASP.NETCoreWebAPI/v17/DocumentLayout.json
.vs/ASP.NETCoreWebAPI/v17/.suo
